<div class="main-container">
      <div class="main-page-content">
        <div>
          <h2>APIE SPORTMAX <%= @lankytojai%></h2>
          <div class="content-apie">
            <div>
              <img src="https://img.icons8.com/plasticine/2x/clock.png" alt="">
              <h3 style="color: white;">DARBO <br> LAIKAS 24/7</h3>
            </div>
            <div>
              <img src="https://image.flaticon.com/icons/png/512/1925/1925208.png" alt="">
              <h3 style="color: white;">NERIBOTAS APSILANKYMAS</h3>
            </div>
            <div>
              <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/exercise-machine-806135.png" alt="">
              <h3 style="color: white;">DAUGIAU NEI 50<br> TRENIRUOKLIŲ</h3>
            </div>
            <div>
              <img src="https://icons-for-free.com/iconfiles/png/512/pool-131979029192869832.png" alt="">
              <h3 style="color: white;">25M PLAUKIMO <br> BASEINAS</h3>

            </div>

          </div>
        </div>
      </div>
</div>
<footer class="index-footer">
      <div>
        <h3>Apie mus</h3>
        <p>SportMax – Šiuolaikiškas sporto klubas Vilniuje, kuriame rasite viską,
           ko reikia Jūsų sveikatai, grožiui ir gerai savijautai palaikyti. Erdvi
           treniruoklių salė, motyvuojančios grupinės treniruotės, moderni vandens zona.</p>
      </div>
      <div>
        <h3>Paslaugos</h3>
        <ul>
          <li>Grupiniai užsiėmimai</li>
          <li>Treniruoklių salė</li>
          <li>Plaukimo baseinas</li>
          <li>Spa zona</li>
          <li>Asmeninis treneris</li>
          <li>Plaukimo pamokos</li>
          <li>Masažas</li>
        </ul>
      </div>
      <div>
        <h3>Kontaktai</h3>
        <p>Tel Nr : +37067608081<br>
          El Paštas : Sportmax@gmail.com</p>

          <p>Adresas: Ukmergės g. 578,<br>
          Vilnius 12111, Lietuva</p>

          <p>Darbo Laikas<br>
          I-V 6.30-22.00<br>
          VI-VII 9.00-20.00</p>
      </div>
      
    </footer>
      