<div class="main-galerija-container">
        <div class="images-and-text">
            <h1>APŽIŪRĖK SPORTO KLUBĄ</h1>
       <div class="images-container">
        <div>
        <img src="https://www.gruvetechnologies.com/wp-content/uploads/2019/06/windows-live-writer_tokyo-gyms-fitness-clubs-near-hiroo-and-_d996_image_thumb_2.png" alt="">
        <label>Bėgtakių salė</label>
        </div>
        <div>
        <img src="<%=@image%>" alt="">
        <label>Treniruokių salė</label>
        </div>
        <div>
        <img src="https://chuzefitness.com/wp-content/uploads/MG_5562.jpg" alt="">
        <label>Baseinas</label>
        </div>
        <div>
        <img src="https://www.reynoldsgroup.co.uk/wp-content/uploads/fitness-spa-bexley-thumb.jpg" alt="">
        <label>SPA zona</label>
        </div>
        <div>
        <img src="https://www.whatsoninsweden.com/wp-content/uploads/2018/06/Fysiken-Gym.jpg" alt="">
        <label>Treniruoklių salė</label>
        </div>
        <div>
        <img src="https://a.cdn-hotels.com/gdcs/production168/d1001/38584a60-ab05-4cb0-b89a-81ce6a5042b7.jpg" alt="">
        <label>Jogos salė</label>
        </div>

       </div>
    </div>