<div class="price-container">
        <div class="price-box">
        <div class="price-desktop">
         <h2 id="main-h2">PASIŪLYMAI</h2>
        
       
         <table class="price-table-box">
           <tr class="paslaugu-pavadinimai">
             <th class="first-th"></th>
             <th>COMFORT</th>
             <th id="premium-paslauga">PREMIUIM</th>
             <th>FLEX</th>
           </tr>
           <tr>
             <td>KAINA</td>
             <td class="price-size">9.99 €/MĖNESĮ</td>
             <td class="price-size">15 €/MĖNESĮ</td>
             <th class="price-size">22 €/MĖNESĮ</th>
           </tr>
           <tr>
             <td>NERIBOTAS LANKYMASIS</td>
             <td><img src="https://www.lemongym.lt/Theme/cpartner/assets/img/cart_tick.png" alt=""></td>
             <td> <img src="https://www.lemongym.lt/Theme/cpartner/assets/img/cart_tick.png" alt=""> </td>
             <td><img src="https://www.lemongym.lt/Theme/cpartner/assets/img/cart_tick.png" alt=""></td>
           </tr>
           <tr>
             <td>GRUPINĖS TRENIRUOTĖS</td>
             <td>8 €/MĖNESĮ</td>
             <td><img src="https://www.lemongym.lt/Theme/cpartner/assets/img/cart_tick.png" alt=""></td>
             <td>8 €/MĖNESĮ</td>
           </tr>
           <tr>
             <td>ĮSIPAREIGOJIMŲ LAIKOTARPIS</td>
             <td>12 MĖNESIŲ</td>
             <td>12 MĖNESIŲ</td>
             <td>1 MĖNESI</td>
           </tr>
           <tr>
             <td>PRIEIGA PRIE VISŲ KLUBŲ</td>
             <td> <img src="https://www.lemongym.lt/Theme/cpartner/assets/img/cart_minus.png" alt=""> </td>
             <td><img src="https://www.lemongym.lt/Theme/cpartner/assets/img/cart_tick.png" alt=""></td>
             <td><img src="https://www.lemongym.lt/Theme/cpartner/assets/img/cart_minus.png" alt=""></td>
           </tr>
           <tr>
             <td>NEPTŪNAS VANDUO</td>
             <td>2 €/MĖNESĮ</td>
             <td><img src="https://www.lemongym.lt/Theme/cpartner/assets/img/cart_tick.png" alt=""></td>
             <td>2 €/MĖNESĮ</td>
           </tr>
           <tr>
             <td>NEMOKAMI RANKŠLUOŠČIAI</td>
             <td>3 €/MĖNESĮ</td>
             <td><img src="https://www.lemongym.lt/Theme/cpartner/assets/img/cart_tick.png" alt=""></td>
             <td>3 €/MĖNESĮ</td>
           </tr>
           <% if current_user%>
           <% if !current_user_admin%>
           <tr>
             <td class="first-th"></td>
             <td><button id="first-button" class="isigyti-btn">ĮSIGYTI</button> </td>
             <td><button class="isigyti-btn">ĮSIGYTI</button></td>
             <td><button class="isigyti-btn">ĮSIGYTI</button></td>
           </tr>
           <%end%>
           <%end%>
           
         </table>
        </div>
        <div class="kainosInfo-box">
         <p><strong></strong></p>
       
            <h5>____</h5>
            <ul>
             <li><b style="font-size: 1.125em;">VIENKARTINIS</b><span style="font-size: 1.125em;">&nbsp;apsilankymas - 5 €.<br></span></li>
             <li><b style="font-size: 1.125em;">YANGA</b><span style="font-size: 1.125em;">&nbsp;</span><span style="font-size: 1.125em;">vandens narystė - 4,5 €/mėn. (Kauno Žalgirio arenoje kol kas šios paslaugos nėra)<br></span></li>
             <li>Programėlės<span style="font-size: 1.125em;">&nbsp;</span><b style="font-size: 1.125em;">PRO</b><span style="font-size: 1.125em;">&nbsp;</span><span style="font-size: 1.125em;">versija - 3,5 €/mėn.</span></li>
             </ul>
       </div>
    </div>
