<div class="isbandyk-main-container">
        <div class="isbandyk-content">
            <div class="isbandyk-box">
                <h1>IŠBANDYK<br> NEMOKAMAI!</h1>
            <div class="form-box">
                <h2 id="registration-title">
                  registruokis nemokamam<br> pabandymui    
              </h2>
              <form>
                <div class="input-box">
                  <div>
                  <label>Vardas</label>
                  <input type="text" placeholder="Vardas">
                  </div>
                  <div>
                  <label>Pavardė</label>
                  <input type="text" placeholder="Pavarde">
                  </div>
                  <div>
                  <label>El.Paštas</label>
                  <input type="text" placeholder="El.Paštas">
                  </div>
                  <div>
                  <label>Telefonas</label>
                  <input type="text" placeholder="Telefonas">
                  </div>
                </div>
             </form>
              <div class="registracijos-box">
                  <button>REGISTRUOTIS</button>
              </div>
              <div class="checkbox" style="display: inline-block;">
                  <input id="agreement0" class="agreement-checkbox" name="agreement" type="checkbox" required="required">
                  <label for="agreement0" style="line-height: 1; color: #4f758b; font-size: 20px;">
                      Sutinku gauti tiesioginės rinkodaros pasiūlymus
                  </label>
              </div>
              </div>
              </div>
        </div>
        </div>
        <footer class="isbandyk-footer">
            <h2 class="block-title">PRADĖTI LENGVA - IŠBANDYK NEMOKAMAI</h2>
            <div class="newClubInfoSmaller space"><p>Sunku nuspręsti, kurį sporto klubą pasirinkti? Dabar apsispręsti lengviau, nes gali išbandyti vieną iš Fitness klubų <b>visiškai</b>&nbsp;<strong>nemokamai !</strong><br>Su savimi turėk spynelę, rankšluostį ir asmens dokumentą. <strong>Savanorių klubą Kaune ir PP "Banginio" klubą Vilniuje gali išbandyti administracijos darbo metu.</strong></p>
                <p>Ateik ir išbandyk tau patogiausioje lokacijoje esantį „FitnessGym“ arba sportuok visuose klubuose su "Premium" naryste.</p>
                <p><strong> </strong></p></div>
    </footer>