<div class="isbandyk-main-container">
        <div class="isbandyk-content">
            <div class="isbandyk-box">
                <h1>IŠBANDYK<br> NEMOKAMAI!</h1>
            <div class="form-box">
                <h2 id="registration-title">
                  registruokis nemokamam<br> pabandymui    
              </h2>
              <form action = "/users" method = "POST">
                <div class="input-box">
                  <div>
                  <label>Vardas</label>
                  <input type="text" name="user[vardas]" placeholder="Vardas">
                  </div>
                  <div>
                  <label>Pavardė</label>
                  <input type="text" name="user[pavarde]" placeholder="Pavarde">
                  </div>
                  <div>
                  <label>El.Paštas</label>
                  <input type="text" name="user[pastas]" placeholder="El.Paštas">
                  </div>
                  <div>
                  <label>Telefonas</label>
                  <input type="text" name="user[telefonas]" placeholder="Telefonas">
                  </div>
                </div>
                <div class="registracijos-box">
                  <input type="submit" value="Registruotis" name="submit" class="btn btn-secondary">
              </div>
             </form>
              
              
              </div>
              </div>
        </div>
        </div>
        <footer class="isbandyk-footer">
            <h2 class="block-title">PRADĖTI LENGVA - IŠBANDYK NEMOKAMAI</h2>
            <div class="newClubInfoSmaller space"><p>Sunku nuspręsti, kurį sporto klubą pasirinkti? Dabar apsispręsti lengviau, nes gali išbandyti vieną iš Fitness klubų <b>visiškai</b>&nbsp;<strong>nemokamai !</strong><br>Su savimi turėk spynelę, rankšluostį ir asmens dokumentą. <strong>Savanorių klubą Kaune ir PP "Banginio" klubą Vilniuje gali išbandyti administracijos darbo metu.</strong></p>
                <p>Ateik ir išbandyk tau patogiausioje lokacijoje esantį „FitnessGym“ arba sportuok visuose klubuose su "Premium" naryste.</p>
                <p><strong> </strong></p></div>
    </footer>