<div class="isbandyk-main-container">
        <div class="isbandyk-content">
            <div class="isbandyk-box">
                <h1>IŠBANDYK<br> NEMOKAMAI!</h1>
            <div class="form-box">
                <h2 id="registration-title">
                  registruokis nemokamam<br> pabandymui    
              </h2>
              <form action = "/free_try_users" method = "POST">
                <div class="input-box">
                 <input type="hidden" name="user[user_id]" value="<%=@useris.id%>">
                  <div>
                  <label>Vardas</label>
                  <input type="text" name="user[vardas]" id="vardas" placeholder="Vardas">
                  </div>
                  <div>
                  <label>Pavardė</label>
                  <input type="text" name="user[pavarde]" id="pavarde" placeholder="Pavarde">
                  </div>
                  <div>
                  <label>El.Paštas</label>
                  <input type="text" name="user[pastas]" id="pastas" placeholder="El.Paštas">
                  </div>
                  <div>
                  <label>Telefonas</label>
                  <input type="text" name="user[telefonas]" id="telefonas" placeholder="Telefonas">
                  </div>
                </div>
                <div class="registracijos-box ml-4">
                  <input type="submit" value="Registruotis" name="submit" class="btn btn-secondary">
              </div>
               <div class="pl-4 pr-4 pt-4">
                  <% flash.each do |name, msg| %>
                  <div class="alert alert-<%= name %>" role="alert">
                      <%= msg %>
                  </div>
                  <% end %>
              </div>
             </form>
              
              
              </div>
              </div>
        </div>
        </div>
        <footer class="isbandyk-footer">
            <h2 class="block-title">PRADĖTI LENGVA - IŠBANDYK NEMOKAMAI</h2>
            <div class="newClubInfoSmaller space"><p>Sunku nuspręsti, kurį sporto klubą pasirinkti? Dabar apsispręsti lengviau, nes gali išbandyti vieną iš Fitness klubų <b>visiškai</b>&nbsp;<strong>nemokamai !</strong><br>Su savimi turėk spynelę, rankšluostį ir asmens dokumentą. <strong>Savanorių klubą Kaune ir PP "Banginio" klubą Vilniuje gali išbandyti administracijos darbo metu.</strong></p>
                <p>Ateik ir išbandyk tau patogiausioje lokacijoje esantį „FitnessGym“ arba sportuok visuose klubuose su "Premium" naryste.</p>
                <p><strong> </strong></p></div>
    </footer>